<h1>Please Log In!</h1>

<%= form_with model: @customer, url: logged_in_path do |f| %>
Email: <%= f.text_field :email %> <br>
Password: <%= f.text_field :password %> <br>
<%= f.submit "Submit" %>
<% end %>

<%= link_to  "If you dont have an account, please Sign Up", new_customer_path %>