<!DOCTYPE html>
<html>
  <head>
    <title>CarDealership</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class= "box-1">

      <% if logged_in?%>
    
          <%= link_to  "Home", login_path, class: "homelink" %>
          <%= link_to  "Log out", logout_path, method: :delete, class: "logoutlink"  %>
          
      <%end%>
   
  </div>
  </head>

  <body>
    <%= yield %>
  
  </body>
  <br>
  <br>

  <footer>
  <div class= "box-2">
    <%= link_to  "See all dealerships", dealerships_path %>
    <%= link_to  "Are you a dealer? Create a new Dealership!", new_dealership_path %>
    </div>

</footer>
  
</html>
